<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RabbitMQ</title>
</head>
<body>
<blockquote>
    #!/bin/sh<br><br>

    ## If sudo is not available on the system,<br>
    ## uncomment the line below to install it<br>
    # apt-get install -y sudo<br><br>

    sudo apt-get update -y<br>

    ## Install prerequisites<br>
    sudo apt-get install curl gnupg -y<br><br>

    ## Install RabbitMQ signing key<br>
    curl -fsSL https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc | sudo apt-key add -<br><br>

    ## Install apt HTTPS transport<br>
    sudo apt-get install apt-transport-https<br><br>

    ## Add Bintray repositories that provision latest RabbitMQ and Erlang 21.x releases<br>
    sudo tee /etc/apt/sources.list.d/bintray.rabbitmq.list <<EOF<br>
    ## Installs the latest Erlang 21.x release.<br>
    ## Change component to "erlang" to install the latest version (22.x or later).<br>
    ## "bionic" as distribution name should work for any later Ubuntu or Debian release.<br>
    ## See the release to distribution mapping table in RabbitMQ doc guides to learn more.<br>
    deb https://dl.bintray.com/rabbitmq-erlang/debian bionic erlang-21.x<br>
    deb https://dl.bintray.com/rabbitmq/debian bionic main<br>
    EOF<br><br>

    ## Update package indices<br>
    sudo apt-get update -y<br><br>

    ## Install rabbitmq-server and its dependencies<br>
    sudo apt-get install rabbitmq-server -y --fix-missing
</blockquote>
</body>
</html>